@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.custom-work{
    background-color: #F4F6FC;
}


.text-name{
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 48px;
      line-height: 64px;
 }
.text-name-name{
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      color: #282938;
}  

.text-short {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      color:#2405F2;
      font-size: 18px;
      line-height: 32px;
}

.text-title{
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      color: #282938;
      font-size: 32px;
      line-height: 48px;
}

.text-paragraph{
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      color: #282938;
      font-size: 16px;
      line-height: 28px;
}

.work-card {
  margin-bottom: 48px; 
}
