@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.about-benefits-section {
  background: #fff;
  padding: 128px 0;
  
  
}


.section-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: #1a1a1a;
  
}

.benefits-card {
  height: 316px;
  padding: 20px;
  border: none;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  background: #F4F6FC;
  
}


.benefits-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.benefits-card h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 36px;
  color: #1a1a1a;
}

.benefits-card p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #282938;
  font-size: 16px;
  line-height: 1.6;
}

.benefits-icon {
  font-size: 32px;
  color: #2405F2;
}


.benefits2 .box{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.benefits2 .box .box-heading h1{
  margin: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 38px;
  line-height: 56px;
  font-weight: 600;
  color: #282938;

}

.benefits2 .box .box-heading p{
  margin: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #282938;
}
.benefits2 .box .logo-fix{
  gap: 30px;
  display: flex;
  align-items: center;    
  flex-wrap: wrap;
}
.benefits2 .box .logo-fix img {
  max-height: 40px;
  object-fit: contain;
}
